<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <title>Поиск</title>
</head>
<body>
<div id="header">База данных синтаксических конструкций</div>
<div id="value" style="text-align: center"><a>О проекте</a> | <a>Как пользоваться поиском?</a> | <a>Дополнительная
    литература</a></div>
<div id="search">
    <form><input type="search" placeholder="Поиск" name="word"><input type="submit"></form>
</div>
<div id="table">
    <table>
        <tr>
            <td>padezh:</td>
            <td>поиск по падежу</td>
        </tr>
        <tr>
            <td>synt:</td>
            <td>в конструкциях</td>
        </tr>
        <tr>
            <td>firstyear:</td>
            <td>год первого вхождения</td>
        </tr>
    </table>
</div>
<div id="footer"><a href="http://ling.hse.ru">НИУ ВШЭ, Школа Лингвистики, 2018</a></div>
</body>
</html>